.mr3 {
    margin-right: 3px;
}


.ml3 {
    margin-left: 3px;
}

.mb3 {
    margin-bottom: 3px;
}

.mb4 {
    margin-bottom: 4px;
}

.mb5{
    margin-bottom: 5px;
}

.fr {
    float: right;
}
.tr{
    text-align: right;
}
